$header_height: 3rem;

/* ===== Colors ===== */
$first_color: #069C54;
$first_color_alt:#048654; 
$title_color: #393939;
$text_color: #707070;
$text_color_light: #A6A6A6;
$body_color: #FBFEFD;
$container_color: #FFF;

/* ===== Font and typography ===== */
$biggest_font_size: 2.25rem;
$h1_font_size: 1.5rem;
$h2_font_size: 1.25rem;
$h3_font_size: 1rem;
$normal_font_size: .938rem;
$small_font_size: .813rem;

/* ===== Font Weight ===== */
$font_medium: 500;
$font_semi_bold: 600;

/* ===== z index ===== */
$z_tooltip: 10;
$z_fixed: 100;

@media screen and (min-width: 768px){
  $biggest_font_size: 4rem;
  $h1_font_size: 2.25rem;
  $h2_font_size: 1.5rem;
  $h3_font_size: 1.25rem;
  $normal_font_size: 1rem;
  $small_font_size: .875rem;
}